body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.css-1fuz9qr-MuiPaper-root-MuiAlert-root {
  background-color: #f9f9f9 !important;
  color: #505050 !important;
}

.css-1fuz9qr-MuiPaper-root-MuiAlert-root .MuiAlert-icon {
  color: #505050 !important;
}
